# Dependencias
node_modules/
.pnp/
.pnp.js

# Next.js
.next/
out/
build/
dist/

# Producción
*.tsbuildinfo
next-env.d.ts.bak

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Entorno
.env
.env.local
.env*.local

# IDE
.vscode/
.idea/
*.swp

# Sistema
.DS_Store
Thumbs.db
